
:root {
    --blau: #46b3bf;
    --groc: khaki ;
    --abril: 'Abril Fatface';
    --josefina:'Josefin Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior:smooth;
  cursor:none;
  
}
  .cursor{
  width: 20px;
  height: 20px;
  border: 20px solid rgba(23, 104, 133, 0.693);
  border-radius: 50%;
  position: relative;
  z-index: 500;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

#gif{
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:all;
  width: 20%;
  height: 20px;
  float: right;
  margin-right: 10px;
  opacity: 70%;
}
#gif :hover{
    transform:rotateX(180deg);
}
body {
  font-family: var(--josefina);
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1 {
  font-size: 8rem;
  font-family: var(--abril);
  color: var(--groc);
  letter-spacing:10px;
  z-index:10;
  display: flex;
}

h2 {
  font-size: 8.2rem;
  font-family: var(--josefina);
  font-weight:300;
  font-size:xx-large;
  color:rgb(31, 92, 114);
  text-align: left;
  display: flex;
  margin-left: 6rem;

}
h3 {
  font-size: 6.2rem;
  font-family: var(--abril);
  font-weight:300;
  letter-spacing:2px;
  color:rgb(31, 92, 114);
  text-align: left;
  display: flex;
  justify-content: center;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(31, 92, 114) ;
  font-family: var(--josefina);
  font-style:inherit;
 
}

img {
  display: block;
  width: 100%;
}


.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: khaki;
  box-shadow: 0 2px 0 rgba(5, 199, 196, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}


.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  border-color: none;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(62deg, #46b3bf 0%, #ffffff 100%);
}

.welcome-section > p {
  font-size: 6rem;
  font-weight: 200;
  color:   rgba(8, 58, 57, 0.878);
  font-family: var(--josefina);
  z-index:10;
}
.welcome-section > #gif {
  display: flex;
  flex-direction:row;
  align-items: center;
  position:relative;
  width: 20%;
  height: 100px;
  margin-left: 65rem;
}


.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background:var(--groc);
  
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: khaki;
}
.project-image {
    
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit:cover;
  transition: transform 2s;
  mix-blend-mode: screen;
  z-index: 1 ;
  background-color: yellow;    
}
.project-image:hover{
  mix-blend-mode:normal;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--blau);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: white;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  padding: 0 2rem;
  background:#cbebee;
}

.contact-section-header > h3 {
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px rgba(5, 199, 196, 0.4);
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}


footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;

  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}